<div class="container">
  
  {{!-- <img src="static/img/main-banner.jpg" alt="Main-banner"> --}}
  <h1>Welcome to</h1>
  <h2>FRA</h2>
  <h3>Failure Red App</h3>

  <div class="btn-login">
    <button>
      Bienvenido Ingeniero
    </button>
  </div>

  <div class="btn-register">
    <button>
      Nuevo Ingeniero
    </button>
  </div>
  
</div>